<div class="socialiter">
  <% if (theme.qq){ %>
  <a href=<%- theme.qqUrl %> title="联系QQ">
    <svg class="icon-socialiter"><use xlink:href="#icon-qq"></use></svg>
  </a>
  <% } %>
  <% if (theme.twitter){ %>
  <a href=<%- theme.twitterUrl %> title="twitter">
    <svg class="icon-socialiter"><use xlink:href="#icon-twitter"></use></svg>
  </a>
  <% } %>
  <% if (theme.Github){ %>
  <a href=<%- theme.GithubUrl %> title="Github">
    <svg class="icon-socialiter"><use xlink:href="#icon-github"></use></svg>
  </a>
  <% } %>
  <% if (theme.WeiBo){ %>
  <a href=<%- theme.WeiBoUrl %> title="微博">
    <svg class="icon-socialiter"><use xlink:href="#icon-weibo"></use></svg>
  </a>
  <% } %>
</div>
